*{
    box-sizing: border-box;
    color: white;
    

}


body{
    margin: 0;
    display: grid;
    grid-template-areas: "head head head" 
                        "nav sec sec" 
                        "nav sec sec";
    height:100vh;
    width: 100vw;
    text-align:center;
    overflow:hidden;
    background-color: #24252A ;
}

.l1 , .a1 ,#login{
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
header{
    grid-area: head;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    width: 100vw;
    height: 60px;
    background-color: #1c1d21cc;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    z-index: 1;
}
#logo{
    cursor: pointer;
    margin-right: auto;
    background-color: transparent;
    width: 220px;
    
    height: 57px;

}
ul{
    list-style: none;
}
ul .l1{
    display: inline-block;
    padding: 0px 20px;
}
.a1{
    transition: all 0.3s ease 0s;
    color: white;
}
.a1:hover{
    color: #0088a9;
}
#login{
    padding: 6px 15px;
    background-color: rgba(0, 136, 169, 1) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 50px;
    margin-right: -70px;
}
#login:hover{
    background-color: rgba(0, 136, 169, 0.8) ;
}


 .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.4rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  } 
  
   .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.2em;
    width: 1.2em;
    fill: #b4b4b4;
  }


.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-left: -9vw;
    margin-right: 40px;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }




 #sec{
    background-color: #1c1c1d;
    grid-area: sec;
    height: 93vh;
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s ;
    padding: 0;
}
.box{
    background-color:#0037ff97 ;
    width: 20vw;
    height: 30vh;
    clip-path: ellipse(150% 90% at 30% 100%);
    position: relative;
    will-change: top;
    box-shadow:  -5px 10px 15px black; 
    padding-top: 50px;
}



.nav0{ 
  background-color: #101211;
  background-blend-mode: screen; 
  filter: brightness(1.95) saturate(2);
  grid-area: nav;
  height: 93vh;
  width: 20vw;
  text-align: left;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition: all 0.5s ease 0s;
} 
.nav1{ 
  background-color: #0f0f0f;
  background-blend-mode: screen; 
  filter: brightness(1.95) saturate(2);
  grid-area: nav;
  height: 93vh;
  width: 4vw;
  text-align: left;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition: all 0.8s ease 0s;
} 
.tdd{
  display: flex; 
  opacity:0;
  transform: translateX(-100px); /* يبدأ من اليسار */
  transition: transform 0.5s ease-out;
  z-index: 0;
}
.tff{
  transition: all 1s ease 0s ;

  
  height: 70px;
  /* border: solid 1px ; */
  width: 16vw;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateX(0); 
  transition: opacity 5s ease-out, transform 0.7s ease-out;
  z-index: 0;
}


.td1{
  min-width: 4vw;
  height: 70px;
  /* border: solid 1px ; */
  text-align: center;
  transition: all 0.5s ease 0s;
  z-index: 1;
  
}
table{
  /* border: solid 1px; */
  width: 20vw;
  transition: all 0.5s ease 0s;
  height: 200px;
  display: flex;
  /* margin-top: 65px; */
  
}
iframe{
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-x: auto;
  
  margin: 0 ;
}

a{
  z-index: 1;
  text-decoration: none;
  font-family:cursive;
  font-weight:unset;

}

a:hover{
  color: rgb(149, 149, 149);
}